div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf{
	margin: 1vw;
	border-radius:var(--zoneBorderRadius);
	overflow: hidden;
}
input#\30 ebda806-4711-413c-ea04-8bce34261b42_cdce16d0-8866-b19c-1c86-4fa2816f096b {
    border-radius: .5vw;
    border: 1px solid #ddd;
}
textarea#a9df74f1-4662-4815-92a6-8dc1867cef47_8c8a86bf-3265-f8b8-a3cc-9320bf3a11f3_TextArea {
    padding: 0;
}
.style-profile-developer-container .style-profile-designer-section{
	width:50rem!important;
}
input#\34 77ee387-720e-4437-ae04-fd85b3692398_286c040e-193e-4602-ba8c-2c74f2a477fc {
    border-radius: .5rem;
}

input#\34 77ee387-720e-4437-ae04-fd85b3692398_d5ef03f6-0a6e-412f-bfd9-ce2dab1c8592 {
    border-radius:.5rem;
    border:1px solid #ddd;
}
html[dir=ltr] .theme-entry a.toolbar-button{
	margin: 0!important;
	border: none!important;
	min-height: unset;
}
.theme-entry a.toolbar-button span, 
.theme-entry a.toolbar-button.toolbar-button-inline span,
 .theme-entry a.toolbar-button,
.theme-entry .input-control a.input-control{
	min-height:unset!important;
	height:unset!important;
	border: none;
}
.theme-entry a.toolbar-button span.button-text{
	font-size:1rem;
	min-height: unset!important;
	border: none!important;
}
.theme-entry a.Hyperlink{
	color:var(--main-color);
}
[title="*"]{
	color:#e62b37!important;
}
html[dir=rtl] .theme-entry .input-control.select-box .input-control-m-c{
	padding:0;
	}
/* CALENDAR AND ERROR TOOLTIP DESIGN ADJUSTMENTS START */
.tooltip.validation{
	font-size: .8rem;
	color: #ff6a6a!important;
	background-color: white!important;
	padding: 0.8rem 1rem;
	text-wrap: nowrap;
	height: fit-content;
	border-radius: 0.7rem!important;
	border: 1px solid #d3d3d3!important;
	width: fit-content;
}
.tooltip.validation span{
	line-height: 1.6;
	display: block;
	text-wrap: auto;
}
.tooltip.validation .tooltip-pointer,
.tooltip.validation .tooltip-pointer .tooltip-pointer-inner{
 border-color:transparent!important;
 background: none!important;
}
.tooltip.validation .tooltip-pointer .tooltip-pointer-inner{
  width: 0px;
  height: 0px;
  border-bottom: solid 10px #d3d3d3!important;
  border-left: solid 10px transparent!important;
  border-right: solid 10px transparent!important;
  top: 0.2rem;
}
.theme-entry .day {
    font-size: 1rem;
    height: 2.5rem!important;
    width: 2.5rem!important;
    text-align: center!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.calendar-row .dayname{
	height:2.5rem!important;
	width:2.5rem!important;
	margin-bottom:1rem;
}
.theme-entry .popup.id-calendar-control-popup {
    width: 18rem !important;
    height: auto!important;
}
.theme-entry .top-calendar a.today-title {
    border: none;
    border-radius: 0;
    margin-top: 1rem;
    padding: 0;
}
.theme-entry .top-calendar a {
    margin-top: 1rem;
    background-repeat: no-repeat;
    height: 1rem;
}
.theme-entry .week{
display:flex;
}
.theme-entry .today-text{
	padding-top:1rem;
	padding-bottom:1rem;
}
.datepicker.invalid{
	border: 1px solid var(--input-error-border-color) !important;
	background-color: #f8e8e8!important;
}
.theme-entry .invalid .input-control-watermark *{
	background-color:transparent!important;
}
/* CALENDAR AND ERROR TOOLTIP DESIGN ADJUSTMENTS END */
/* Designer Branding */
.designer{
	font-size:12px;
	line-height:26px;
}
.designer .toolboxitem{
	height:auto;
}
.designer body::before{
	display:none;
	}
.designer .propertyGridPropertyItem{
	height:auto!important;
}
.designer .input-control.select-box:not(.hide-buttons) .input-control-m-c{
	padding:0;
}
/* popup icon */
.theme-entry .message-box-content:before {
    content: '';
    position: absolute;
    display: block;
    width: 3rem;
    height: 3rem;
    top: 2rem;
    left: 0;
}
.theme-entry .dialog.error-message:not(.runtime-message) .message-box-content, 
.theme-entry .dialog.warning-message:not(.runtime-message) .message-box-content, 
.theme-entry .dialog.info-message:not(.runtime-message) .message-box-content, 
.theme-entry .dialog.confirmation-message:not(.runtime-message) .message-box-content{
 min-height: max-content!important;
}

.theme-entry .dialog.error-message:not(.runtime-message), 
.theme-entry .dialog.warning-message:not(.runtime-message), 
.theme-entry .dialog.info-message:not(.runtime-message), 
.theme-entry .dialog.confirmation-message:not(.runtime-message) {
    height: max-content !important;
}
.theme-entry .dialog.error-message:not(.runtime-message), 
.theme-entry .dialog.warning-message:not(.runtime-message), 
.theme-entry .dialog.info-message:not(.runtime-message), 
.theme-entry .dialog.confirmation-message:not(.runtime-message){
	width:auto!important;
	max-width:600px;
	height: auto!important;
	margin:auto;
}
.theme-entry .dialog.confirmation-message:not(.runtime-message) .popup-footer{
	padding:2rem!important;
	display: flex;
	align-items: center;
}
.theme-entry .dialog.error-message:not(.runtime-message) .popup-header, 
.theme-entry .dialog.warning-message:not(.runtime-message) .popup-header, 
.theme-entry .dialog.info-message:not(.runtime-message) .popup-header, 
.theme-entry .dialog.confirmation-message:not(.runtime-message) .popup-header{
	padding:2rem!important;
	margin: 0;
	display: flex;
	align-items: center;
}
.theme-entry .dialog.error-message:not(.runtime-message) .popup-body, 
.theme-entry .dialog.warning-message:not(.runtime-message) .popup-body, 
.theme-entry .dialog.info-message:not(.runtime-message) .popup-body, 
.theme-entry .dialog.confirmation-message:not(.runtime-message) .popup-body{
	position:relative!important;
	display:flex;
	align-items:center;
	padding: 1.5rem 2rem;
}
.popup-body .scroll-wrapper{
	overflow:hidden;
}
.theme-entry .SourceCodeFormsControlsWorklist span.worklist-grid-column-header-cell-text{
	font-size:.8rem;
}
.theme-entry .SourceCodeFormsControlsWorklist .WatermarkText{
	margin-top:1rem!important;
}
.grid-column-header-text,
.theme-entry.runtime-form span.runtime-list-item{
	font-size: 0.8rem;
	vertical-align:middle;
	text-align: center;
}
[name="CustomerComplaint.Form Area Item1"]{
	background-color:#fff!important;
	padding:var(--zonePadding)!important;
	border-radius:var(--zoneBorderRadius)!important;
	width:unset!important;
}
.theme-entry .form .view .innerpanel > .grid[name *="CustomerComplaint.Form"]#ae2a35f6-b593-4c5e-9d6a-2c3e0c759acf_17e4e3e7-7c5f-4c8e-b790-0e6bcde571fa_f13f2956-fc2c-4983-a7d6-e913e2b278aa_dfad730a-9fe4-4454-bc85-fb5490a29196,
[name="Tariff.TPR.TariffRequests.Form Area Item2"],
[name="Tariff.TPR.TariffRequests.Form Area Item"],
[name="Tariff.TPR.TariffRequests.Form Area Item s_collapse"]
{
	background-color:white!important;
	border-radius:var(--zoneBorderRadius)!important;
	margin:1rem 0;
	overflow:hidden;
}
.theme-entry .form .view .innerpanel > .grid[name *="CustomerComplaint.Form"]#ae2a35f6-b593-4c5e-9d6a-2c3e0c759acf_17e4e3e7-7c5f-4c8e-b790-0e6bcde571fa_f13f2956-fc2c-4983-a7d6-e913e2b278aa_dfad730a-9fe4-4454-bc85-fb5490a29196{
	overflow:visible;
}
[name="Tariff.TPR.TariffRequests.Form Area Item"],
[name="Tariff.TPR.TariffRequests.Form Area Item s_collapse"]
{
	margin:0;
}
[name="CustomerComplaint.Form Area Item4"] .grid-header,
[name="Tariff.TPR.TariffRequests.Form Area Item2"] .grid-header,
[name*="Tariff.TPR.TariffRequests.Form Area Item"] .grid-header,
[name *="UpdateGovertmentForm"] .grid-header{
	background-color:white!important;
}
[name="CustomerComplaint.Form Area Item4"] .grid-header .grid-header-wrapper,
[name*="Tariff.TPR.TariffRequests.Form Area Item2"] .grid-header .grid-header-wrapper,
[name*="Tariff.TPR.TariffRequests.Form Area Item"] .grid-header .grid-header-wrapper,
[name *="UpdateGovertmentForm"] .grid-header .grid-header-wrapper{
	background-color:white!important;
	height:unset;
}
[name *="UpdateGovertmentForm"] .grid-header .grid-header-wrapper{
	margin:0;
}
[name="CustomerComplaint.Form Area Item4"] .grid-header .grid-header-wrapper .grid-header-text,
[name="Tariff.TPR.TariffRequests.Form Area Item2"] .grid-header .grid-header-wrapper .grid-header-text,
[name*="Tariff.TPR.TariffRequests.Form Area Item"] .grid-header .grid-header-wrapper .grid-header-text,
[name *="UpdateGovertmentForm"] .grid-header .grid-header-wrapper .grid-header-text,
div#ae2a35f6-b593-4c5e-9d6a-2c3e0c759acf_17e4e3e7-7c5f-4c8e-b790-0e6bcde571fa_eb0e2dfe-47a8-4f89-a1e3-2c6c22e1775b_e588b459-8f37-43e2-a741-d3f159b81fdd .grid-header-text{
	font-size: 1.8rem !important;
	color: black !important;
	position: relative;
	overflow: visible !important;
	padding: 1rem 0 !important;
	margin-bottom: 0rem !important;
	font-weight: 600 !important;
	height: unset;
	background-color: white!important;
}
[name="CustomerComplaint.Form Area Item4"] .grid-header .grid-header-wrapper .grid-header-text::before,
[name="Tariff.TPR.TariffRequests.Form Area Item2"] .grid-header .grid-header-wrapper .grid-header-text::before,
[name*="Tariff.TPR.TariffRequests.Form Area Item"] .grid-header .grid-header-wrapper .grid-header-text::before,
[name *="UpdateGovertmentForm"] .grid-header .grid-header-wrapper .grid-header-text::before{
	 content: "";
	 position: absolute;
	 left: -2rem;
	 top: 0;
	 height: 100%;
	 width: 6px;
	 background-color: var(--main-color);
	 border-radius: 0px;
}
html[dir="rtl"] [name="CustomerComplaint.Form Area Item4"] .grid-header .grid-header-wrapper .grid-header-text::before,
html[dir="rtl"] [name="Tariff.TPR.TariffRequests.Form Area Item2"] .grid-header .grid-header-wrapper .grid-header-text::before,
html[dir="rtl"] [name="Tariff.TPR.TariffRequests.Form Area Item"] .grid-header .grid-header-wrapper .grid-header-text::before,
html[dir="rtl"] [name *="UpdateGovertmentForm"] .grid-header .grid-header-wrapper .grid-header-text::before{
	 content: "";
	 position: absolute;
	 right: -2rem;
	 top: 0;
	 height: 100%;
	 width: 6px;
	 background-color: var(--main-color);
	 border-radius: 0px;
}
[name *="UpdateGovertmentForm"] .grid-header .grid-header-wrapper .grid-header-text::before{
	left: -2rem;
}
[name="CustomerComplaint.Form Area Item4"]  .grid-column-header-cell,
[name="Tariff.TPR.TariffRequests.Form Area Item2"] .grid-column-header-cell,
[name="Tariff.TPR.TariffRequests.Form Area Item"] .grid-column-header-cell,
[name *="UpdateGovertmentForm"] .grid-column-header-cell{
	padding:0 1rem !important;
}
[name="Tariff.TPR.TariffRequests.Form Area Item2"]  .grid-toolbars,
[name="Tariff.TPR.TariffRequests.Form Area Item"] .grid-toolbars,
[name *="UpdateGovertmentForm"] .grid-toolbars{
	border-radius:0!important;
}
[name="Tariff.TPR.TariffRequests.Form Area Item2"] .grid-header,
[name="Tariff.TPR.TariffRequests.Form Area Item"] .grid-header{
	padding-top:1rem;
}
div#\30 0000000-0000-0000-0000-000000000000_e39d04e6-258e-b5c5-9d3b-603a458adbd8_SourceCodeFormsControlsWorklist{
	border-radius:var(--zoneBorderRadius);
}
span#\35 7316ec4-a042-3d37-03ef-098af03b2f24  .input-control.text-input .input-control-m-c {
    min-height: 3rem;
    height: unset;
}
span#bde3e171-fb34-5cca-bfcc-ccadfe2b05fe{
	display:flex;
	align-items:center;
}
span#\39 99010ef-afeb-4379-7d40-47fe59c07fb7{
	display:none;
}
span#b6d70ee7-ab49-652c-f249-565a26e4cc80,
span#\37 8ecc68e-dcd3-4551-e8f4-7a9740cb7ec8{
	border:1px solid #ddd!important;
	border-radius:.5rem;
	padding: 0.5rem 1rem;
	display:flex;
	align-items:center;
	background-color: #f3f3f3 !important;
	height: 3rem;
}
span#d5c9676e-2f30-47e5-65ec-a4e27af39dd1,
span#c55c558c-95f7-12c8-7b27-00396068c074,
span#\35 e9004d0-16da-2ccd-39cb-686537edafb3{
    display: none;
}
span#d5acd1ac-8d5c-5b32-ae23-4e825cde4acf,
span#c55c558c-95f7-12c8-7b27-00396068c074,
span#f13afb5b-08a5-ca72-d0d1-b1f2ed8c8dd8,
span#\36 b9affde-e537-eacf-cfd7-dbb028dd8f54,
span#fe8c5545-e8da-567e-6455-16ba8c3815cd,
span#\34 26af6f3-3412-b403-8a11-b61128f63603{
	display:none;
}
span#d3fe1f7e-8a68-5284-1b12-7f0faa64c48a span,
span#\30 2fe4898-debc-3d64-e621-0e8f8ac7497f span,
span#b6d70ee7-ab49-652c-f249-565a26e4cc80 span{
	vertical-align:middle;
}
span#b6d70ee7-ab49-652c-f249-565a26e4cc80 span{
	margin-top:.3rem;
}
span#b6d70ee7-ab49-652c-f249-565a26e4cc80,
span#\37 8ecc68e-dcd3-4551-e8f4-7a9740cb7ec8{
	height:3rem;
	padding:0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

html:not(.designer) input.SourceCode-Forms-Controls-Web-TextBox.readonly{
    border:1px solid #ddd!important;
	border-radius:.5rem;
	padding: 0.5rem 1rem;
	display:flex;
	align-items:center;
	background-color: #f3f3f3 !important;
	height: 2.5rem;
	margin-bottom:1rem;
	width:100%;
}

tr.selected span{
	color: white!important;
}
tr.selected td img{
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(43deg) brightness(113%) contrast(101%);
}
span#\34 03433b7-6c80-b775-d86b-5b6d869a4041 {
    padding:0;
    border:none!important;
    height:unset;
}
[name="DLMappedAttachments"]{
	font-size:1rem!important;
	font-weight:500!important;
	background-color: #ffebb3;
	padding: 0.4rem 0.7rem!important;
	border-radius: 1rem;
	margin: .5rem 0;
}
table tr.selected td{
	color:white!important;
}
div#\30 0000000-0000-0000-0000-000000000000_d77764ae-206e-4ba7-bb3d-bdc21d672580_internal {
    background-color: white;
    border-radius: var(--zoneBorderRadius);
    overflow: hidden;
}