@font-face {
    font-family: 'SWCC-Medium';
    src: url('https://cdn.jsdelivr.net/gh/julianogharzeddine/CustomFiles@main/SWCC-3-Medium.otf') format('opentype');
    /* Adjust the path and font format */
}
html:not(.designer).desktop.webkit.chrome body.theme-entry{
	margin-top: 0!important;
	background-color: white!important;
	padding: 0!important;
}
html,body,.runtime-content,.runtime-form.theme-entry{
	height:100%!important;
}
div#c2ffd4a1-c8e8-418b-832e-ef6bfc4345ab {
    border-radius: var(--zoneBorderRadius) !important;
}
.runtime-form.theme-entry{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
}
.tooltip.validation{
	font-size: .8rem;
	color: #ff6a6a!important;
	background-color: white!important;
	padding: 0.8rem 1rem;
	text-wrap: nowrap;
	height: fit-content;
	border-radius: 0.7rem!important;
	border: 1px solid #d3d3d3!important;
	width: fit-content;
}
.tooltip.validation span{
	line-height: 1.6;
	display: block;
	text-wrap: auto;
}
.tooltip.validation .tooltip-pointer,
.tooltip.validation .tooltip-pointer .tooltip-pointer-inner{
 /* border:none!important; */
 border-color:transparent!important;
 background: none!important;
 /* position:relative!important; */
}
.tooltip.validation .tooltip-pointer .tooltip-pointer-inner{
  width: 0px;
  height: 0px;
  border-bottom: solid 10px #d3d3d3!important;
  border-left: solid 10px transparent!important;
  border-right: solid 10px transparent!important;
  top: 0.2rem;
}

.message {
    font-size: 0.9rem;
    line-height: 1.1;
}
html, html body{
	font-size:16px
}
/* asteristk */
html[dir="rtl"] body{
	font-family:'SWCC-Medium';
}
html[dir="rtl"] span{
	font-family:'SWCC-Medium';
}
html body .theme-entry span[title="*"]{
	color:#e62b37!important;
}
.theme-entry .message-box-content:before{
	height:3rem!important;
	width:3rem!important;
}
.theme-entry .message-box-content{
	min-height: 5rem!important;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.theme-entry .dialog.error-message .message-box-content .panel{
	margin-left: 3.8rem;
}
.theme-entry .message-box-content::before{
	background-size:auto;
}
.theme-entry .form{
	padding:0!important;
	margin: 0;
	width: 100%;
}
.theme-entry .runtime-content{
	margin:0!important;
}
.modal .modal-dialog{
	max-width: 25rem;
    width: auto;
    height: auto;
	
}
a#\30 0000000-0000-0000-0000-000000000000_807ad77b-ff2d-41be-9673-9a7abd7857e7{
	display:none;
}
/**/
.theme-entry a.SourceCode-Forms-Controls-Web-Button
{
	
	padding: 0.7rem 4rem !important; /* added by silvana */
	border-radius:.5rem; /* added by silvana */
	font-size:16px; /* added by silvana */
	
	 background : #e62b37 !important;
    border-color: #e62b37    !important;
	color : white !important;
	
	
}


.theme-entry input.SFC.SourceCode-Forms-Controls-Web-TextBox{
	color:#303030;
	font-size:14px;
	font-size: 16px;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.6rem 1rem;
	height: unset;
	min-height:unset;
	font-size: 1rem!important;
}

.theme-entry span.SourceCode-Forms-Controls-Web-Label, .theme-entry h1.SourceCode-Forms-Controls-Web-Label, 
.theme-entry h2.SourceCode-Forms-Controls-Web-Label, .theme-entry h3.SourceCode-Forms-Controls-Web-Label, 
.theme-entry h4.SourceCode-Forms-Controls-Web-Label, .theme-entry label.SourceCode-Forms-Controls-Web-Label,
 .theme-entry p.SourceCode-Forms-Controls-Web-Label, .theme-entry span.SourceCode-Forms-Controls-Web-DataLabel, 
 .theme-entry h1.SourceCode-Forms-Controls-Web-DataLabel, .theme-entry h2.SourceCode-Forms-Controls-Web-DataLabel,
 .theme-entry h3.SourceCode-Forms-Controls-Web-DataLabel, .theme-entry h4.SourceCode-Forms-Controls-Web-DataLabel,
 .theme-entry label.SourceCode-Forms-Controls-Web-DataLabel, .theme-entry p.SourceCode-Forms-Controls-Web-DataLabel
{
	
	font-weight:bold !important;
	color:#303030 !important; /* added by silvana */
	font-size:14px !important; /* added by silvana */
}
.SourceCode-Forms-Controls-Web-Table.Grid-Layout{
	background-color: #ffffff;
}
html, body, form{
	background-color: #ffffff;
	height: 100%;
}
.theme-entry .dialog.runtime-message .message-box-content .panel.full.without-header .panel-body{
	top:0;
}
span#\32 985d4fc-f42a-05be-79c1-8d83f5aad6bb,
span#d8f2c7e5-bd12-1386-aa4c-9446b5b75f0a,
span#e4ae9d61-44fa-f1a0-5e7c-47e625382b7b,
span#e4ae9d61-44fa-f1a0-5e7c-47e625382b7b,
span#d8f2c7e5-bd12-1386-aa4c-9446b5b75f0a,
span#\32 985d4fc-f42a-05be-79c1-8d83f5aad6bb,
span#e74d7fb8-a6eb-4c82-b980-64caa6007f5a,
span#\39 be9fa88-bfc4-4ca3-b182-69ed7093b804{
	display:none;
}
span#\39 1c0e89a-f6f4-42e1-8aa1-3addf9e7fef2{
text-align:center;}
@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2) {
    .theme-entry .message-box-content.error:before {
        background-position: 4px -3493px!important;
    }
}