/* GENERAL BRANDING */
:root{
	--white:#ffffff;
	--main-color:#123756;
	--main-color-hover:#144670;
	--light-main-color:rgb(18 55 86 / 9%);
    --borderColor:#D7D7D7;
	--zoneBorderRadius:1.5rem;
	--zonePadding:2rem;
}
.sidebar {
  background-image: url("https://ns.namaservices.om/Style/logos/bluePattern.png")!important;
}