 :root{
    --red:#e62b37;
    --mainColor:#e62b37;
    --text-color:#3E3E3E;
    --field-label:#303030;
    --border-color:#D7D7D7;
    --zonePadding:1rem;
    --white:#ffffff;
    --main-color-hover:#c01f29;
    --light-main-color: rgb(230 43 55 / 9%);
    --zoneBorderRadius:1rem;
    --zonePadding: 1.5rem;
    --regularFont: 'SWCC-Medium';
}
html:not(.designer) .theme-entry a.SourceCode-Forms-Controls-Web-Button{
	padding:.7rem 1rem!important;
}
.theme-entry .editor-cell{
	overflow:inherit!important;
}
html:not(.designer) [name*="s_textbox"],
html:not(.designer) .filterTxt .input-control-m-c,
html:not(.designer) .filterTxt input,
html:not(.designer) .form-field-element-wrapper .input-control.select-box.lookup-box{
    border: 1px solid var(--border-color) !important;
    font-size: 1rem !important;
    border-radius: .5rem !important;
    padding: .4rem 1rem !important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: var(--regularFont) !important;
    width: 100%;
    min-height: 3rem !important;
    height: 3rem !important;
}
html:not(.designer) .empty[name*="s_textbox"]{
    background-color: #f3f3f3 !important;
}
.panel-body{
	border:none!important;
}
.theme-entry .input-control.select-box .input-control-buttons a.date>span span{
	background-image:url(https://frontenduiux.github.io/namasupply/images/calendar%20red.svg);
	background-size: 1rem!important;background-repeat:no-repeat!important;
	background-position:center!important;
	}
.theme-entry .input-control-buttons a span{
	height:3rem;
}
.theme-entry .input-control.select-box .input-control-buttons a.dropdown>span span, 
.theme-entry .input-control.select-box .input-control-buttons a.dropdown:active>span span, 
.theme-entry .input-control.select-box.active .input-control-buttons a.dropdown>span span, 
.theme-entry .input-control.select-box.active .input-control-buttons a.dropdown:focus>span span, 
.theme-entry .input-control.select-box.active .input-control-buttons a.dropdown:hover>span span, 
.theme-entry .input-control.select-box.read-only .input-control-buttons a.dropdown:hover>span span, 
.theme-entry .input-control.select-box.read-only .input-control-buttons a.dropdown:focus>span span{
background-image:url(https://frontenduiux.github.io/namasupply/images/arrow%201.svg);
	background-size: 1rem!important;background-repeat:no-repeat!important;
	background-position:center!important;
}
.theme-entry .input-control.select-box .input-control-buttons a.picker-search>span span, 
.theme-entry .input-control.select-box .input-control-buttons a.picker-search:active>span span, 
.theme-entry .input-control.select-box.active .input-control-buttons a.picker-search>span span, 
.theme-entry .input-control.select-box.read-only .input-control-buttons a.picker-search:hover>span span, 
.theme-entry .input-control.select-box.read-only .input-control-buttons a.picker-search:focus>span span, 
.theme-entry .input-control.select-box.disabled .input-control-buttons a.picker-search:hover>span span, 
.theme-entry .input-control.select-box.disabled .input-control-buttons a.picker-search:focus>span span{
background-image:url(https://frontenduiux.github.io/namasupply/images/search.svg);
	background-size: 1rem!important;background-repeat:no-repeat!important;
	background-position:center!important;
}

.modal-content {
    border: none;
}
html:not(.designer) .theme-entry .drop-menu{
    width:fit-content!important;
}
input#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37_pagingtxtbox {
    width: 2rem!important;
    border: 1px solid rgb(0 0 0 / 10%);
}
.modal{
    height: 100vh;
    width: 100vw;
}
/* GENERAL STYLES START */
html:not(.designer),html:not(.designer) body.theme-entry{
    font-size:14px!important;
    font-family: var(--regularFont)!important;
}
html:not(.designer) .theme-entry.doubleTop #custom-sticky-header {
	height:unset;
}
html:not(.designer)  .innerpanel > .grid{
	padding:0!important;
}
html:not(.designer) body.theme-entry{
    margin-top: 5.65rem;
    padding:1rem!important;
    height:calc(100% - (4.75rem + 1rem));
    width: calc(100% - 2rem)!important;
    background-color: #f5f5f5!important;
}
html:not(.designer).mobile body.theme-entry{
	margin-top:0!important;
    width: 100%!important;
    top: 5.7rem;
    padding-top: 2rem;
}
html:not(.designer) body.theme-entry [name*="s_collapse"] {
    padding: var(--zonePadding)!important;
    border-radius: var(--zoneBorderRadius)!important;
    background-color: #ffffff !important;
    width: calc(100% - (2 * var(--zonePadding)))!important;
    margin-top:1rem;
}
html:not(.designer) .theme-entry .input-control .input-control-m-c, .theme-entry .input-control.select-box .input-control-m-c{
	height:unset;
	min-height:unset;
	line-height:unset
}
/* GENERAL STYLES END */
/* BUTTON BRANDING START */
html:not(.designer) .theme-entry  .SourceCode-Forms-Controls-Web-Button{
    height:unset!important;
    min-height:unset!important;
    padding:.8rem 1rem;
}
/* BUTTON BRANDING END */
/* TEXTBOX BRANDING START */
html:not(.designer) .theme-entry input.SFC.SourceCode-Forms-Controls-Web-TextBox,
html:not(.designer) .theme-entry  .filterTxt .input-control-m-c,
html:not(.designer) .theme-entry .filterTxt input{
    border:1px solid var(--border-color)!important;
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    vertical-align: middle;
    /* display: flex; */
    align-items: center;
    font-family: 'SWCC-Medium';
    width: 100%;
    max-width: 100%;
    min-height: 3rem!important;
    height: 3rem!important;
}
.theme-entry .filterContainer .quickSearch .filterTxt .input-control .input-control-wrapper{
	width:100%;
}
/* TEXTBOX BRANDING END */
/* DROPDOWN BRANDING START */
html:not(.designer) .theme-entry .input-control.select-box{
    border-radius:.5rem;
    height:3rem;
    min-height:3rem;
    border: 1px solid var(--border-color)!important;
    max-width: 100%;
    width: 100%!important;
    box-sizing: border-box;
}
html:not(.designer) .theme-entry .input-control.select-box .input-control-buttons a.dropdown>span span, 
html:not(.designer) .theme-entry .input-control.select-box .input-control-buttons a.dropdown:active>span span, 
html:not(.designer) .theme-entry .input-control.select-box.active .input-control-buttons a.dropdown>span span, 
html:not(.designer) .theme-entry .input-control.select-box.active .input-control-buttons a.dropdown:focus>span span, 
html:not(.designer) .theme-entry .input-control.select-box.active .input-control-buttons a.dropdown:hover>span span, 
html:not(.designer) .theme-entry .input-control.select-box.read-only .input-control-buttons a.dropdown:hover>span span, 
html:not(.designer) .theme-entry .input-control.select-box.read-only .input-control-buttons a.dropdown:focus>span span{
    background-image:url("https://frontenduiux.github.io/namasupply/images/chevron-down.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:2rem;
}
html:not(.designer) .theme-entry .dropdown-box.input-control .input-control-wrapper > a > span.styling-font{
    font-size:1rem;
    color:#131313;
    padding: 0 1rem!important;
}
/* DROPDOWN BRANDING END */
/* WORKLIST BRANDING START */
.SFC.SourceCode-Forms-Controls-Web-ControlPack-Worklist.ControlPack-Worklist .stylewrapper .SourceCodeFormsControlsWorklist{
	border-radius:var(--zoneBorderRadius)!important;
	overflow:hidden!important;
}
/* WORKLIST BRANDING END */
/* TABLE BRANDING START */
html:not(.designer) .theme-entry .grid table.grid-column-header-table td{
	background-color: #f6f6f6;
	border-right: 1px solid rgb(220 220 220 / 80%);
	cursor: pointer;
}
html:not(.designer) .theme-entry .grid-body-content table td{
	padding: 0 1rem!important;
}
html:not(.designer) .theme-entry td span.runtime-list-item{
	font-family: var(--regularFont)!important;
	font-weight: 300!important;
	padding: 0!important;
    text-align: inherit;
}
html:not(.designer) .theme-entry .grid-column-header-cell-content[style*="text-align:center;"] .grid-column-header-text{
	padding:0!important;
}
html:not(.designer) .theme-entry .grid table.grid-column-header-table td:last-child{
	border:none!important;
}
html:not(.designer) .theme-entry table.grid-column-header-table {
    border-bottom: 1px solid rgb(220 220 220 / 80%);
    background-color:transparent!important;
}
html:not(.designer) .theme-entry  .grid-column-headers{
background-color:transparent!important;
}
html:not(.designer) .theme-entry .grid .grid-column-header-text{
	font-family:var(--regularFont)!important;
	font-size: .8vw!important;
}
html:not(.designer) .theme-entry .grid .grid-column-header-cell{
	padding: 0;
	width: 100%!important;
}
html:not(.designer)[dir="ltr"] .theme-entry .grid .grid-column-header-text{
	padding-left:.5rem;
}
html:not(.designer)[dir="rtl"] .theme-entry .grid .grid-column-header-text{
	padding-right:.5rem;
    text-align: right!important;
}
html:not(.designer) .theme-entry .grid table.grid-content-table.zebra-stripes tr{
	background-color: transparent;
	padding:1rem 0!important;
}
html:not(.designer) .theme-entry .grid table.grid-content-table.zebra-stripes tr:nth-child(even){
	background-color:#F9F9FB!important;
}
html:not(.designer) .grid-body{
	margin: 1rem!important;
	width: calc(100% - 2rem);
	border: 1px solid rgb(220 220 220 / 80%)!important;
	border-radius: .7rem;
}
html:not(.designer) .grid-content-cell-wrapper{
	width: 100%!important;
}
tr.selected img[src="https://ck2-app-tst-1.obc.local/Runtime/Style/eye.png"]{
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(89deg) brightness(103%) contrast(101%);
}
body.theme-entry.topbarExists {
    margin-top: 13rem;
}
html:not(.designer) .grid-column-header-cell{
	background-color: transparent;
}
/* TABLE BRANDING END */
html:not(.designer) .popup-header-button-bar-wrapper {
    width: fit-content!important;
}
html:not(.designer) .popup-header-button-bar-wrapper .close{
    margin:0!important;
}
input#\35 6de97dc-fddf-97d1-9116-c2a8e36a8708_43294d0b-a55b-47e8-8657-52b652a72683{
	display:none;
}
html:not(.designer) body.theme-entry.pushdown{
	padding-top: 11rem!important;
}
.theme-entry.collapseSidebar{
   position:relative;
}
.theme-entry.collapseSidebar::after{
   content:"";
   position:fixed;
   background-color:rgb(0 0 0 / 60%);
   top:0;
   left:0;
   height:100vh;
   width:100vw;
}
.theme-entry.collapseSidebar #toggleSidebarBtn svg{
   transform:scaleX(-1);
}
button#toggleSidebarBtn svg{
   transition:all .3s ease-in-out;
}
html[dir="ltr"] button#toggleSidebarBtn {
    background-color: var(--red);
    position: fixed;
    left: -1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    transition:all .3s ease-in-out;
}
html[dir="rtl"] button#toggleSidebarBtn {
    background-color: var(--red);
    position: fixed;
    right: -1rem;
    top: 1rem;
    display: flex;
    align-items: center;
	transform:scaleX(-1);    
	transition:all .3s ease-in-out;
}
html,body{
    font-size: 14px!important;
}
 .sidebar{
    top:5.7rem;
    transform:translateX(-100%);
	 overflow:auto;
	 height:100%;
     transition: all .3s ease-in-out;
 }
.doubleTop .sidebar{
	top: 9.7rem;
	height: calc(100vh - .7rem);
	overflow: auto;
}
.sidebar.visible{
   transform: translateX(0)!important;
   transition: all .3s ease-in-out;
}
 html[dir="ltr"] body {
    margin-left: 0rem!important;
    margin-right: 0;
}

html:not(.designer) .theme-entry .grid table.grid-content-table.zebra-stripes tr.selected{
	background-color:var(--main-color);
}

.mobile .theme-entry .dialog, .mobile .theme-entry .dialog#PickerSearchDialog{
    height:40%!important;
    width:80%!important;
    top:50%!important;
    left:50%!important;
    transform:translate(-50% , -50%);
}

[name="ar ToolBar Button"]{
   padding: 0!important;
}
.theme-entry .grid-toolbars {
    background-color: transparent;
    padding: 0;
    margin: 0;
}
[name*="Text Box"]{
     border:1px solid var(--border-color)!important;
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: var(--regularFont)!important;
    width: 100%;
    min-height: 3rem!important;
    height: 3rem!important;
}
.mobile .theme-entry .filterContainer .searchDdl,
.mobile .theme-entry .filterContainer .filterTxt{
   min-width: 100%!important;
   width: 100%!important;
   margin: 0;
}
.SFC.SourceCode-Forms-Controls-Web-ControlPack-ListBox .listwrapper{
    min-height: max-content!important;
    overflow: auto;
    height: fit-content!important;

}
div#\30 cc04833-8fb3-8c15-3e13-da74f9220f57_12b688f4-183c-4073-8b0d-f7a33a91a1e5_Table {
    padding: 0 1rem;
    height: 100%;
}
.stackContainer .stack {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;

}
.stackContainer .stack .hoverdiv.option{
    width:100%!important;
    margin:1rem auto!Important;
}
.SourceCode-Forms-Controls-Web-ControlPack-ListBox .listwrapper .optionwrapper{
   position: unset!important;
}
a#\38 be0aae4-96d2-4771-89aa-2168b6f15a37_7c09a884-c5fe-440f-831c-b445cf53e4bb,
a#\38 be0aae4-96d2-4771-89aa-2168b6f15a37_f75f0229-0950-4523-bd69-8e2926e2629f,
	a#\34 77ee387-720e-4437-ae04-fd85b3692398_1308973c-0515-4a72-baeb-d0dfc641714f{
    padding: 0.9rem 1rem!important;
    height: unset;
    min-height: unset;
}
/* POPUP BRANDING START */

html:not(.designer) .theme-entry .message-box-content,

html:not(.designer) .theme-entry .dialog:not(.sub-view) .popup-body{
	height: fit-content!important;
}

html:not(.designer) .theme-entry .popup.dialog.error-message:not(.runtime-message) .message-box-content .panel-body-m-c{

	margin: 0;

}

.theme-entry .base2.base1.modalizer html:not(.designer) .theme-entry .popup-header, html:not(.designer) .theme-entry .dialog:not(.sub-view) .popup-body, html:not(.designer) .theme-entry .popup-footer{/* position:relative!important; *//* top:unset!important; *//* bottom:unset!important; */left:unset!important;right:unset!important;width:100%;height:fit-content!important;}

html:not(.designer) .theme-entry .popup-header{padding: 1rem 1rem;background-color:#f7f7f7;margin: 0!important;position: relative!important;height: fit-content!important;left: 0;}

html:not(.designer) .theme-entry .dialog:not(.sub-view) .popup-body{padding:1rem 2rem 0;border-bottom:none!important;top: 5.7rem;}

html:not(.designer) .theme-entry .popup-footer{padding:0rem 2rem 1rem;border-top:none!important;}

html:not(.designer) .popup.dialog{/* height: auto!important; */border-radius:1rem!important;overflow:hidden;}

html:not(.designer) .popup.dialog .popup-header .popup-header-text{

    font-size:1.4rem;

}

html:not(.designer) .theme-entry .message-box-content.error:before{

    background-image:url("https://frontenduiux.github.io/OBB_Services/Images/error.svg");

    background-size:3rem;

    background-repeat:no-repeat;

    background-position:center;

}

/* POPUP BRANDING END */

html:not(.designer) .theme-entry span[name*="profilePhoto"]{

	border:1px solid rgb(220 220 220 / 80%)!important;

	border-radius:2rem;

	display: flex!important;

	align-items: center!important;

	width: fit-content!important;

	padding: 0.4rem 1.6rem;

	height: 3rem!important;

	min-height:unset!important;

	line-height:unset!important

}

/* */

html:not(.designer) .worklist-grid-column-header-cell-text,

html:not(.designer) .WorklistItemGridCell span{

font-size:8pt!important;

}

[name*="txt.AccountNo"]{
	 padding:1rem!important;
 }
/* TO BE REMOVED LATER ON */
/* DROPDOWN STYLES TO BE REMOVED FROM CARD.CSS */

html:not(.designer)[dir=ltr] .theme-entry .input-control.select-box .input-control-buttons,
html:not(.designer)html[dir=rtl] .theme-entry .input-control.select-box .input-control-buttons{
	border:none;
	
}
html:not(.deisgner) .theme-entry .filterTxt .input-control.text-input .input-control-m-c{
	padding: 0!important;
	border-radius: 0!important;
}
html:not(.deisgner) .theme-entry .input-control.text-input .input-control-m-c {
	padding:0;
	border:none!important;
}
/* CARD .CSS END */
/* STYLES TO BE REMOVED FROM CUSTOMER COMPLAINT.CSS */
div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf {
    margin:0!important;
    border-radius:0!important;
    overflow:unset!important;
    background-color: transparent;
}

[name*="Text Area"]{
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    min-height: 3rem!important;
    height: 3rem!important;
}
html[dir="rtl"]:not(.designer) .sidebar {
   right:0;
   transform: translateX(100%);
}
html:not(.designer) .theme-entry .input-control.select-box:not(.hide-buttons) .input-control-m-c{
	border: none!important;
	padding: 0;
	border-radius: 0;
}
html:not(.designer) body.theme-entry.runtime-view{
	margin:0!important;
	width: 100%!important;
}
/* Responsive Tables */
@media(max-width:600px){
    html[dir="ltr"] 
div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_5bc84844-58fb-8f7e-86d9-70743c2f172d_b5cb9445-859d-022c-6273-b381237fccd9_b8f12ed7-f068-4ecb-aae0-cf4f54d5cd40 
td .grid-content-cell-wrapper::before{
    font-weight:600;
}
html[dir="ltr"] 
div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_5bc84844-58fb-8f7e-86d9-70743c2f172d_b5cb9445-859d-022c-6273-b381237fccd9_b8f12ed7-f068-4ecb-aae0-cf4f54d5cd40 
td:nth-child(3) .grid-content-cell-wrapper::before {
    content: "Full Arabic Name";
}
html[dir="ltr"] 
div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_5bc84844-58fb-8f7e-86d9-70743c2f172d_b5cb9445-859d-022c-6273-b381237fccd9_b8f12ed7-f068-4ecb-aae0-cf4f54d5cd40 
td:nth-child(4) .grid-content-cell-wrapper::before {
    content: "Full English Name";
}
html[dir="ltr"] 
div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_5bc84844-58fb-8f7e-86d9-70743c2f172d_b5cb9445-859d-022c-6273-b381237fccd9_b8f12ed7-f068-4ecb-aae0-cf4f54d5cd40 
td:nth-child(5) .grid-content-cell-wrapper::before {
    content: "Customer Type";
}
html[dir="ltr"] 
div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_5bc84844-58fb-8f7e-86d9-70743c2f172d_b5cb9445-859d-022c-6273-b381237fccd9_b8f12ed7-f068-4ecb-aae0-cf4f54d5cd40 
td:nth-child(6) .grid-content-cell-wrapper::before {
    content: "Civil ID";
}
html[dir="ltr"] 
div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_5bc84844-58fb-8f7e-86d9-70743c2f172d_b5cb9445-859d-022c-6273-b381237fccd9_b8f12ed7-f068-4ecb-aae0-cf4f54d5cd40 
td:nth-child(9) .grid-content-cell-wrapper::before {
    content: "Nationality name";
}
html[dir="ltr"] 
div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_5bc84844-58fb-8f7e-86d9-70743c2f172d_b5cb9445-859d-022c-6273-b381237fccd9_b8f12ed7-f068-4ecb-aae0-cf4f54d5cd40 
td:nth-child(11) .grid-content-cell-wrapper::before {
    content: "Mobile";
}
html[dir="ltr"] 
div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_5bc84844-58fb-8f7e-86d9-70743c2f172d_b5cb9445-859d-022c-6273-b381237fccd9_b8f12ed7-f068-4ecb-aae0-cf4f54d5cd40 
td:nth-child(12) .grid-content-cell-wrapper::before {
    content: "Email";
}
html[dir="ltr"] 
div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_5bc84844-58fb-8f7e-86d9-70743c2f172d_b5cb9445-859d-022c-6273-b381237fccd9_b8f12ed7-f068-4ecb-aae0-cf4f54d5cd40 
td:nth-child(12) .grid-content-cell-wrapper::before {
    content: "Building No";
}

    html[dir="rtl"] div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_523a7d62-6fc9-c082-43d9-b7d5ebc0b79f_bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_761ee5c7-3435-47da-a846-dca64204146c td{
    position:relative;
}
html[dir="rtl"] div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_523a7d62-6fc9-c082-43d9-b7d5ebc0b79f_bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_761ee5c7-3435-47da-a846-dca64204146c td:nth-child(6)::before{
    content: "رقم الحساب"!important;
    font-size:1rem;
    display:block;
    color:#131313;
}
html[dir="rtl"] div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_523a7d62-6fc9-c082-43d9-b7d5ebc0b79f_bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_761ee5c7-3435-47da-a846-dca64204146c td:nth-child(7)::before{
    content: "رقم الهاتف"!important;
    font-size:1rem;
    display:block;
    color:#131313;
}
html[dir="rtl"] div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_523a7d62-6fc9-c082-43d9-b7d5ebc0b79f_bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_761ee5c7-3435-47da-a846-dca64204146c td:nth-child(8)::before{
    content: "البريد الالكتروني"!important;
    font-size:1rem;
    display:block;
    color:#131313;
}
html[dir="rtl"] div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_523a7d62-6fc9-c082-43d9-b7d5ebc0b79f_bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_761ee5c7-3435-47da-a846-dca64204146c td:nth-child(9)::before{
    content: "قرية"!important;
    font-size:1rem;
    display:block;
    color:#131313;
}
html[dir="rtl"] div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_523a7d62-6fc9-c082-43d9-b7d5ebc0b79f_bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_761ee5c7-3435-47da-a846-dca64204146c td:nth-child(10)::before{
    content: "رقم المبنى"!important;
    font-size:1rem;
    display:block;
    color:#131313;
}
html[dir="rtl"] div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_523a7d62-6fc9-c082-43d9-b7d5ebc0b79f_bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_761ee5c7-3435-47da-a846-dca64204146c td:nth-child(10)::before{
    content: "رقم المبنى"!important;
    font-size:1rem;
    display:block;
    color:#131313;
}
html[dir="rtl"] div#\30 21945a2-51ef-4df6-a11d-e4222913cdf7_523a7d62-6fc9-c082-43d9-b7d5ebc0b79f_bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_761ee5c7-3435-47da-a846-dca64204146c td:nth-child(11)::before{
    content: "رقم الشقة"!important;
    font-size:1rem;
    display:block;
    color:#131313;
}

    html[dir="rtl"]:not(.designer) span#\30 eda83c0-6d26-e40f-b6fd-1f94bfb74acc_3a2fbef6-382d-4cc9-a974-b461405fd6ba {
        margin-left: 1rem;
        margin-right: 0;
    }
    html[dir="rtl"]:not(.designer) a#f4536470-4bab-b81f-d28b-d2ee7ff3c3f9_8f48aaa4-1f10-43b5-bd66-6dd4a9c296fd,
    html[dir="rtl"]:not(.designer) a#bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_5016ad56-0961-ba62-4f88-75dba77934e1,
    html[dir="rtl"]:not(.designer) a#\34 9478b77-2f1d-f7da-4f2a-1edd89ffe625_bfe6106c-6953-47ac-9230-2f052bd7a779,
    html[dir="rtl"]:not(.designer) a#\30 eda83c0-6d26-e40f-b6fd-1f94bfb74acc_50bba2d9-2b00-4400-b8bc-a43b8344a5b4{
    margin-top: 1rem;
    margin-right: 0!important;
    }
    html[dir="ltr"]:not(.designer) a#f4536470-4bab-b81f-d28b-d2ee7ff3c3f9_8f48aaa4-1f10-43b5-bd66-6dd4a9c296fd,
    html[dir="ltr"]:not(.designer) a#bd8cf567-fab8-b0cd-9afc-d938e6ce2d29_5016ad56-0961-ba62-4f88-75dba77934e1,
    html[dir="ltr"]:not(.designer) a#\34 9478b77-2f1d-f7da-4f2a-1edd89ffe625_bfe6106c-6953-47ac-9230-2f052bd7a779,
    html[dir="rtl"]:not(.designer) a#\30 eda83c0-6d26-e40f-b6fd-1f94bfb74acc_50bba2d9-2b00-4400-b8bc-a43b8344a5b4{

        margin-top: 1rem;
        margin-left: 0!important;
    }
	html.mobile .theme-entry .dialog, .mobile .theme-entry .dialog#PickerSearchDialog{
		height:unset!important;
	}
	html:not(.designer) .theme-entry .popup-body{
    position: absolute;
    top: 5.2rem;
    bottom: 7.2rem;
  }
   html:not(.designer) .theme-entry .message-box-content, html:not(.designer) .theme-entry .dialog .popup-body{
		height: unset!important;
	}
   span#dd2a29c6-446c-2448-8036-846eba81b775 {
    display: none;
}

div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_de121480-4181-44f7-b2ff-f007a865983d_e63acb0d-eaf1-4dc6-98bc-9de2036e445d_7817eeff-576c-43a1-9848-825a1ad1748d table tr {
    display: flex;
    flex-direction: column;
}

div#e63acb0d-eaf1-4dc6-98bc-9de2036e445d_e52ccef8-6931-7407-8643-fbc5f42e8019_Table {
    display: flex;
    align-items: center;
}

span#\37 055646e-52f4-03c1-e253-2d5518cf0950 {
    display: none;
}
html[dir="rtl"] body {
		margin-right: 0rem;
	}
input#e63acb0d-eaf1-4dc6-98bc-9de2036e445d_5ec68cd6-e217-f03a-e1ec-78c0dd05247e {
    width: 95%!important;
    padding: 1rem;
}
	.theme-entry .grid table.grid-content-table td.center-align{
		text-align:inherit;
	}
	html[dir="ltr"] .grid-column-header-text,html[dir="ltr"] .theme-entry.runtime-form span.runtime-list-item{
		text-align:left!important;
	}
	html[dir="rtl"] .grid-column-header-text,html[dir="rtl"] .theme-entry.runtime-form span.runtime-list-item{
		text-align:right!important;
	}
   div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr,
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_de121480-4181-44f7-b2ff-f007a865983d_e63acb0d-eaf1-4dc6-98bc-9de2036e445d_7817eeff-576c-43a1-9848-825a1ad1748d .grid-body-content table tr{
    display: flex;
	flex-direction: column;
	width: 100% !important;
	min-width: calc(100vw - 1rem);
}
	   div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr td:nth-child(2)::before{
		   content:"Account No";
	   }
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr td:nth-child(3)::before{
		   content:"Customer Name Arabic";
	   }
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr td:nth-child(4)::before{
		   content:"Customer Name English";
	   }
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr td:nth-child(5)::before{
		   content:"Customer Type";
	   }
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr td:nth-child(6)::before{
		   content:"Mobile";
	   }
	/* div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr td:nth-child(7)::before{
		   content:"Mobile";
	   } */
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr td:nth-child(8)::before{
		   content:"Tariff Name";
	   }
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr td:nth-child(10)::before{
		   content:"Primary";
	   }
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-body-content table tr td:nth-child(12)::before{
		   content:"Aggregate";
	   }
	
div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 table.grid-column-header-table,
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_de121480-4181-44f7-b2ff-f007a865983d_e63acb0d-eaf1-4dc6-98bc-9de2036e445d_7817eeff-576c-43a1-9848-825a1ad1748d table.grid-column-header-table{
    display:none;
}
	span#f0032494-05da-4cc5-920f-fb2277d5d5a8,
span#\38 14d74d2-d6f9-42c7-9633-8520e79e21a3,
	span#dfe31dca-73b1-4d63-ba30-8f4f9141e2d0,
	span#\35 fd61d4d-818c-4e71-a710-211927cbbfac,
	span#\37 c014e44-1086-44d5-aed4-4c76591d9e52,
	span#da05326a-2197-42a4-a655-1dc39b0b6767{
	display:none;
}
div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_3acf3d4c-c1b9-41fa-9977-819f32ac81b4_477ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9 .grid-toolbars div#\34 77ee387-720e-4437-ae04-fd85b3692398_de5822e3-6214-4615-9d1e-179ea42c3be9_toolbarGroup table#\34 77ee387-720e-4437-ae04-fd85b3692398_f1b02abc-2bbd-44ab-800d-811baaa523ed tbody tr td div#\34 77ee387-720e-4437-ae04-fd85b3692398_cd840a02-a6ba-4ff1-b8da-c6d06fff9b9b_Table{
 display:flex!important;
 flex-direction:column!important;
}
span#\36 de5c1ed-e5a5-428b-a231-471f2c31ea74,
span#f8ddf747-31ce-14d6-df43-ccd116c9f00c{
 display:none;
}

   .theme-entry .grid-footer .grid-paging-control .input-control-m-c, html body.theme-entry .grid-footer .grid-paging-control{
      position: unset!important;
   }
   div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tbody tr{
    display:flex;
    flex-direction:column;
    width: 100%!important;
    min-width:calc(100vw - 1rem);
}
div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tbody tr td{
    width:100%!important;
    overflow:visible!important;
    
}
   div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tbody tr td:nth-child(even){
      background-color:#f4f4f4!important
   }
div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 col{
    width:100%!important;
}
div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 .grid-column-headers{
   display: none;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:first-child::before{
   content: "Account No";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(2)::before{
   content: "Mobile";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(3)::before{
   content: "Email";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(4)::before{
   content: "Village";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(5)::before{
   content: "Building No";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(6)::before{
   content: "Flat No";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(7)::before{
   content: "View";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table  tbody tr td .runtime-list-item{
   text-align: left!important;
   color: #7b7b7b;
   padding-top: 0;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table img {
    filter: brightness(0) saturate(100%) invert(53%) sepia(2%) saturate(12%) hue-rotate(314deg) brightness(90%) contrast(95%);
}
html:not(.designer) td#\33 23ea00c-e7ff-0c23-5326-5917791b6878::before{
   content: "";
   display: none;
}
   html:not(.designer) table tr td{
      background-color:transparent!important;
   }
   html:not(.designer) table tr td::before{
      font-weight:600;
      font-size:1rem;
      /* padding:0 1rem; */
   }
    div#\30 ebda806-4711-413c-ea04-8bce34261b42_f8682b73-aa3c-6043-7e80-e1478ae38c3e_Table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    height: unset!important;
    min-height: unset;
    line-height: unset!important;
    width: 90%!important;
}

span#\37 cd68721-9b5d-f798-0a5d-7c8a2a511c5e,
span#b7aa4685-6d06-de83-3d6a-25b604a6f24a,
span#\31 997727b-a275-719d-bd6a-21c2d184b8cd,
span#\31 92fe139-41aa-bc5f-8312-039e919bc9e6,
span#\30 d0c6892-1cfb-1211-b99b-234636b994ad,
span#\34 3080a78-1436-70ef-5317-0eaa7a62cac7{
    display: none;
}
div#cfa8ffae-7706-834b-9ec1-23ca5ee7296d_4fed8ee2-32a5-4af7-8553-6f9f810df2d0_Table {
    display: flex;
    flex-direction: column;
}
html:not(.designer) body.theme-entry.doubleTop {
    padding-top: 1rem !important;
    width: 100% !important;
    padding: 0 1rem;
    margin-top: 9.7rem;
    height: calc(100% - 10.7rem);
}
input#\34 77ee387-720e-4437-ae04-fd85b3692398_286c040e-193e-4602-ba8c-2c74f2a477fc {
    border-radius: .5rem;
    padding: 1rem;
}
[name="CustomerComplaint.Form Area Item4"] .grid-header .grid-header-wrapper .grid-header-text, [name="Tariff.TPR.TariffRequests.Form Area Item2"] .grid-header .grid-header-wrapper .grid-header-text, [name="Tariff.TPR.TariffRequests.Form Area Item"] .grid-header .grid-header-wrapper .grid-header-text, [name *="UpdateGovertmentForm"] .grid-header .grid-header-wrapper .grid-header-text, div#ae2a35f6-b593-4c5e-9d6a-2c3e0c759acf_17e4e3e7-7c5f-4c8e-b790-0e6bcde571fa_eb0e2dfe-47a8-4f89-a1e3-2c6c22e1775b_e588b459-8f37-43e2-a741-d3f159b81fdd .grid-header-text{
   font-size:1.3rem!important;
}


span#\34 f04612f-179e-e66f-9d20-32e01800feac {
    display: none;
}

span#c173537d-d54a-2c8e-da42-c9fad6b54c6c {
    display: none;
}

span#d9061a6b-bd52-20cb-1620-05e55e453b4b {
    width: 100%;
}
.grid-column-headers {
    display: none;
}
	div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_de121480-4181-44f7-b2ff-f007a865983d_e63acb0d-eaf1-4dc6-98bc-9de2036e445d_7817eeff-576c-43a1-9848-825a1ad1748d .grid-toolbars {
    padding: 0!important;
}

span#\39 9d8ee52-1bad-7e30-06b1-52a9c2de1827 {
    width: 20%;
}



span#\34 3848706-e307-5fb6-6444-9dcff9d957ca {
    display: none;
}

span#\39 379eb4e-b606-5a95-ae19-caeac6795ab5 {
    display: none;
}
	a#\34 77ee387-720e-4437-ae04-fd85b3692398_1308973c-0515-4a72-baeb-d0dfc641714f {
    margin: 0!important;
}

span#\30 0000000-0000-0000-0000-000000000000_d4820830-9e5a-7590-c6bd-da95847463c2 {
    white-space: unset!important;
}
}
@media(min-width:992px){
    html[dir="rtl"] [name^="HeaderCard"] .editor-cell[name="English Lang"]{
        right: 0!important;
    }
	html[dir="rtl"]:not(.designer) .sidebar {
   right:0;
   transform: translateX(0%);
}
	html[dir="rtl"] body {
        .popup-body-content .panel-body-wrapper>.scroll-wrapper{
            overflow: auto!important;
        }
		margin-right: 16.6rem!important;
	}
	.sidebar{
		top:0!important;
	}
   :root{
   --zonePadding:2rem;
 }
    .sidebar{
       top:0;
    transform:translateX(0%);
 }
 html:not(.designer)[dir="ltr"] body {
    margin-left: 17.6rem!important;
    margin-right: 0;
}
html:not(.designer) body.theme-entry {
    width: calc(100% - 17.6rem) !important;
    margin-top: 6.1rem;
}
    html:not(.designer) body.theme-entry.doubleTop {
        padding-top: 1rem !important;
        width: calc(100% - 17.6rem) !important;
        margin-top: 9.7rem;
    }
   .SourceCode-Forms-Controls-Web-ControlPack-ListBox div.optionwrapper div.stackContainer .stack .hoverdiv{
	height: 6rem!important;
	width: 14rem!important;
	margin: 0.5rem;
	padding: 1rem!important;
	box-shadow: none;
	background-color: white;
	border-radius: 0.7rem;
	display: flex;
	flex-direction: column;
	align-items: center !important;
	justify-content: center !important;
	align-content: center;
	transition: all .3s ease-in-out;
	padding: 0 1rem;
	font-size: .95rem;
	cursor: pointer;
      margin:1rem!important
}
	.stackContainer .stack{
width:auto;
	}
   div#\36 4d5583a-18a8-46b0-9840-e7228dd104a0_de121480-4181-44f7-b2ff-f007a865983d_e63acb0d-eaf1-4dc6-98bc-9de2036e445d_7817eeff-576c-43a1-9848-825a1ad1748d {
    padding: 1rem;
    background-color: white!important;
}
}
@media(min-width:1600px){
    html:not(.designer) .theme-entry a.SourceCode-Forms-Controls-Web-Button{
	padding:.7vw 1vw!important;
}
	html:not(.designer) .input-control-wrapper{
		height:100%!important;
		min-height:unset!important
	}
	html:not(.designer) .input-control-watermark{
		font-size:1vw!important;
		height:unset!important;
		min-height:unset!important;
		line-height: 1.5vw!important;
	}
	html:not(.designer) [name*="s_textbox"],
html:not(.designer) .filterTxt .input-control-m-c,
html:not(.designer) .filterTxt input,
html:not(.designer) .form-field-element-wrapper .input-control.select-box.lookup-box{
    border: 1px solid var(--border-color) !important;
    font-size: 1vw !important;
    border-radius: .5vw !important;
    padding: .4vw 1vw !important;
    min-height: 3vw !important;
    height: 3vw !important;
}
	html:not(.designer) .theme-entry .input-control.select-box{
    border-radius:.5vw;
    height:3vw;
    min-height:3vw;
}
    .sidebar-link{
        margin-bottom:1vw;
    }
html:not(.designer) body.theme-entry .view:not(:has(h4[name="User NameData Label"])) .editor-cell.droptarget:has(img[name*="card-icon"]) {
    height: 12vw!important;
    width: 12vw!important;
    border-radius: 0.7vw!important;
    padding: 0 1vw!important;
    margin: 1vw!important;
}
       .SourceCode-Forms-Controls-Web-ControlPack-ListBox div.optionwrapper div.stackContainer .stack .hoverdiv {
        height: 7vw !important;
        width: 15vw!important;
        margin: 1vw;
        border-radius: 0.7vw;
        padding: 0 1vw;
        font-size: 1vw;
    }
    	html:not(.designer) body.theme-entry {
    width: calc(100% - 16.6vw) !important;
    margin-left: 16.6vw!important;
    margin-top: 6.1vw;
}
.view:not(:has(h4[name="User NameData Label"])) .editor-cell.droptarget:has(img[name*="card-icon"]) .SFC.SourceCode-Forms-Controls-Web-Label {
        font-size: 1vw;
        line-height: 1.5vw !important;
    }
    .theme-entry span{
        font-size:1vw!important;
    }
}