 :root{
    --red:#e62b37;
    --mainColor:#e62b37;
    --text-color:#3E3E3E;
    --field-label:#303030;
    --border-color:#D7D7D7;
    --zonePadding:1rem;
}
html,body{
    font-size: 14px!important;
}
 .sidebar{
    transform:translateX(-100%);
 }
 html[dir="ltr"] body {
    margin-left: 0rem!important;
    margin-right: 0;
}
html:not(.designer) body.theme-entry {
    padding-top: 9rem !important;
    width: 100% !important;
    padding: 0 1rem;
}

.mobile .theme-entry .dialog, .mobile .theme-entry .dialog#PickerSearchDialog{
    height:40%!important;
    width:80%!important;
    top:50%!important;
    left:50%!important;
    transform:translate(-50% , -50%);
}
[name^="Worklist"] .stylewrapper{
	border-radius: .7rem;
}
[name="ar ToolBar Button"]{
   padding: 0!important;
}
.theme-entry .grid-toolbars {
    background-color: var(--white);
    border-radius: 0;
    padding: var(--zonePadding);
    margin-bottom: 1rem;
}
[name*="Text Box"]{
     border:1px solid var(--border-color)!important;
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: var(--regularFont)!important;
    width: 100%;
    min-height: 3rem!important;
    height: 3rem!important;
}
/* Responsive Tables */
@media(max-width:600px){
   div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tbody tr{
    display:flex;
    flex-direction:column;
    width: 100%!important;
    min-width:calc(100vw - 1rem);
}
div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tbody tr td{
    width:100%!important;
    overflow:visible!important;
    
}
div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 col{
    width:100%!important;
}
div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 .grid-column-headers{
   display: none;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:first-child::before{
   content: "Account No";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(2)::before{
   content: "Mobile";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(3)::before{
   content: "Email";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(4)::before{
   content: "Village";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(5)::before{
   content: "Building No";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(6)::before{
   content: "Flat No";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table tr td:nth-child(7)::before{
   content: "View";
   font-size: 1rem;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table  tbody tr td .runtime-list-item{
   text-align: left!important;
   color: #7b7b7b;
   padding-top: 0;
}
html:not(.designer)[dir="ltr"] div#\36 0ec3a6e-dcd3-423b-8055-d9a64d8077bf_8c7b5464-f0cb-c421-4405-efeb293eaf88_0ebda806-4711-413c-ea04-8bce34261b42_c4660a85-3a62-4756-ab4d-1f3444b39e37 table img {
    filter: brightness(0) saturate(100%) invert(53%) sepia(2%) saturate(12%) hue-rotate(314deg) brightness(90%) contrast(95%);
}
html:not(.designer) td#\33 23ea00c-e7ff-0c23-5326-5917791b6878::before{
   content: "";
   display: none;
}
   html:not(.designer) table tr td{
      background-color:transparent!important;
   }
   html:not(.designer) table tr td::before{
      font-weight:600;
      font-size:1rem;
      padding:0 1rem;
   }
    html:not(.designer) table tr:nth-child(even){
       background-color: #f0f0f0 !important;
    }
    div#\30 ebda806-4711-413c-ea04-8bce34261b42_f8682b73-aa3c-6043-7e80-e1478ae38c3e_Table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    height: unset!important;
    min-height: unset;
    line-height: unset!important;
    width: 90%!important;
}

span#\37 cd68721-9b5d-f798-0a5d-7c8a2a511c5e,
span#b7aa4685-6d06-de83-3d6a-25b604a6f24a,
span#\31 997727b-a275-719d-bd6a-21c2d184b8cd,
span#\31 92fe139-41aa-bc5f-8312-039e919bc9e6,
span#\30 d0c6892-1cfb-1211-b99b-234636b994ad,
span#\34 3080a78-1436-70ef-5317-0eaa7a62cac7{
    display: none;
}

}
@media(min-width:992px){
   :root{
   --zonePadding:2rem;
 }
    .sidebar{
    transform:translateX(0%);
 }
 html[dir="ltr"] body {
    margin-left: 16.6rem!important;
    margin-right: 0;
}
html:not(.designer) body.theme-entry {
    padding-top: 6rem !important;
    width: calc(100% - 16.6rem) !important;
}
}