 .sidebar{
    transform:translateX(-100%);
 }
 html[dir="ltr"] body {
    margin-left: 0rem!important;
    margin-right: 0;
}
html:not(.designer) body.theme-entry {
    padding-top: 9rem !important;
    width: 100% !important;
}
.mobile .theme-entry .dialog, .mobile .theme-entry .dialog#PickerSearchDialog{
    height:40%!important;
    width:80%!important;
    top:50%!important;
    left:50%!important;
    transform:translate(-50% , -50%);
}
@media(min-width:992px){
    .sidebar{
    transform:translateX(0%);
 }
 html[dir="ltr"] body {
    margin-left: 16.6rem!important;
    margin-right: 0;
}
html:not(.designer) body.theme-entry {
    padding-top: 6rem !important;
    width: calc(100% - 16.6rem) !important;
}
}